.ItemPhimSlide {
  a {
    text-decoration: none;
    color: #f7bb3ae0;
  }
  width: 240px;
  height: 370px;
  .card__img {
    height: 150px;
  }
  .card {
    &-title {
      color: black;
    }
    &-body {
      .card-text.icon__card .rate {
        color: gray !important;
      }
    }
    .icon__card {
      background-color: green;
    }

    &-body__tacgia {
      color: gray;
    }
    .tien {
      color: gray;
    }
    .khuyenmai {
      color: black;
    }
  }
}
