.khoahoc {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  &__title {
    background: url("https://cyberlearn-21.web.app/img/headerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    position: relative;
    &__form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &__section {
      height: 40px;
      border-radius: 15px;
      border: transparent;
      padding: 0 10px;
    }
    .btn__search {
      height: 38px;
    }
  }
  &__content {
    font-family: "Roboto", sans-serif;
    background-color: #f6f6f6;
    .khoahoc__carousel {
      h1 {
        width: 100%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.356);
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
    .box {
      display: inline-block;
      padding-bottom: 7px;
    }
    .content__title {
      background-color: rgb(241, 238, 238);

      &__icon {
        color: #42a5f5;
        font-size: 18px;
      }
      &__text {
        color: black;
        font-size: 18px;
      }
    }

    .nav {
      line-height: 45px;
    }
    .nav__khoahoc {
      display: inline-block;

      li {
        display: inline-block;
        padding: 0 15px;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.4s;
        &.active {
          background-color: pink;
        }
        &:hover {
          background-color: pink;
        }
      }
    }
    &__all {
      background-color: #fff;
      .icon__search-minus {
        font-size: 150px;
        color: rgba(128, 128, 128, 0.897);
      }
      .content__box {
        opacity: 0;
      }
    }
  }

  .tacgia {
    margin-top: 10rem;
    &__item {
      border-radius: 5px;
      transition: 0.4s;
      &:hover {
        box-shadow: 1px 1px 5px 3px grey;
      }
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      &__danhgia {
        i {
          color: yellow;
        }
        span {
          font-weight: 700;
        }
      }
      &__review {
        font-weight: 700;
      }
    }
    &__box {
      opacity: 0;
    }
  }
  &__log {
    &__title {
      font-weight: 700;
    }
    &__item {
      opacity: 0;
      .card {
        border: 0px !important;
        &-body {
          .col-lg-2 {
            background-color: #ec5252;
          }
          .col-lg-10 {
            .span__box {
              line-height: 39px;
              display: inline-block;
              width: 100%;
              margin-top: 10px;
              border-top: 1px solid gray;
              border-bottom: 1px solid gray;
              &__tacgia {
                i {
                  font-weight: 700;
                  color: aqua;
                }
              }
            }
          }
        }
        .button {
          border: 1px solid black;
          border-radius: 0 !important;
        }
      }
    }
  }
}
.activeCourse {
  animation: atCourse 0.8s linear;
  opacity: 1 !important;
}
.activeAuthor {
  animation: atAuthor 0.8s linear;
  opacity: 1 !important;
}
.activeBog {
  animation: acBlog 0.8s linear;
  opacity: 1 !important;
}

@media screen and (max-width: 768px) {
  .khoahoc {
    &__title {
      &__form {
        .btn__search {
          margin-top: 20px;
          margin-bottom: 1px;
          height: 38px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .khoahoc {
    &__title {
      h1 {
        margin-top: 20px;
      }
      height: 70%;
      &__form {
        .btn__search {
          margin-top: 10px;
        }
      }
      .col-lg-3 {
        padding: 5px 0;
        width: 70%;
      }
    }
  }
}
@keyframes atCourse {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes atAuthor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes acBlog {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
